
<section class="cardsshow">

  <div class="zagolovok">
    <%= @topic.title %>
  </div>

  <div class="car">

    <div class="aa">
      <div class="newcar">Добавьте карточку...</div>
      <%= link_to new_card_path do -%>
        <div class="newcar"></div>
      <% end %>
    </div>

    <% @cards.each do |card| %>
    <div class="aa">
      <%= render 'cards/show', card: card  %>
    </div>
    <% end %>
  </div>

</section>
