<%= link_to card, {:action => 'show', :id => card.id} do -%>
  <div class="otkrcard"></div>
<% end %>

<div class="quest">
  <%= card.question %>
</div>

<div class="answ">
  <%= card.answer %>
</div>
