// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proverka {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 490px;
  margin-top: 20px;
}


.znayu {
  width: 90px;
  height: 34px;
  background-color: white;
  color: #3C3C3C;
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.neznayu {
  width: 90px;
  height: 34px;
  background-color: white;
  color: #3C3C3C;
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.prev_button img {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);

}

.next_button img {
  width: 30px;
  height: 30px
}

.button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
}
