// Place all the styles related to the Checks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.popup-gallery {
  a {
    display:inline-block;
    width:25%;
    img {
      height:auto;
      width:100%;
    }
  }
}
