body {
  font-family:'Helvetica Neue', sans-serif;
}

.topics {
  min-width: 1440px;
  margin-top: 35px;
}

.zagolovok {
  font-size: 26px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-left: 190px;
  color: #3C3C3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zagolovok a{
  margin-right: 210px;
}

.zagolovok img{
  width: 55px;
}


.tem {
  margin-top: 10px;
  text-align: center;
  margin-left: 190px;
  flex-wrap: wrap;
  display: flex;
  width: 1110px;

}

.a:nth-child(n+8) {
  display: none;
}

.bolse {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 210px;
  opacity: 0.6;
  font-size: 13px;
}

.bolse img {
  transform: scale(-1, 1);
  width: 9px;
  margin-left: 7px;
}

.bolse a {
  display: flex;
  text-decoration: none;
  color: black;
}

.bolsee {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 210px;
  opacity: 0.6;
  margin-top: 190px;
  margin-bottom: 25px;
  font-size: 13px;
}

.bolsee img {
  transform: scale(-1, 1);
  width: 9px;
  margin-left: 7px;
}

.bolsee a {
  display: flex;
  text-decoration: none;
  color: black;
}

.cards {
  font-family: 'Helvetica Neue';
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  margin-top: 35px;
}

.cardss {
  font-family: 'Helvetica Neue';
  // display: flex;
  // flex-direction: column;
  min-width: 1440px;
  margin-top: 30px;
}

.cardsshow {
  font-family: 'Helvetica Neue';
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  margin-top: 35px;
}

.car {
  margin-top: 10px;
  text-align: center;
  margin-left: 190px;
  display: flex;
  flex-wrap: wrap;
  width: 1090px;
}

.a {
  color: #3C3C3C;
  background-color: white;
  line-height: 18px;
  width: 326px;
  height: 190px;
  margin-right: 30px;
  margin-bottom: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: 5px;

}

.a:nth-child(n+4) {
  display: none;
}

.aa {
  color: white;
  line-height: 18px;
  background-color: white;
  font-size: 14px;
  width: 245px;
  height: 165px;
  margin-right: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.withImage img{
  width: 245px;
  height: 165px;
  -webkit-border-radius: 6px;
}

.withImage {
  .zatemnenie{
    background-color: rgba(0,0,0,0.5);
    width: 245px;
    height: 165px;
    -webkit-border-radius: 6px;
    position: absolute;
  }
}

.withoutImage{
  color: black;
}

.podlozka {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 245px;
  height: 165px;
  border-radius: 5px;
}

.b {
  color: #3C3C3C;
  background-color: white;
  line-height: 18px;
  width: 326px;
  height: 190px;
  margin-right: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: 5px;
}

.pod {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  z-index: -10;
  margin-top: 30px;
  margin-left: 190px;
  flex-wrap: wrap;
  width: 1110px;
}

.podtem {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  margin-top: 34px;
  z-index: -10;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  margin-right: 30px;
  min-width: 1418px;
}

.podcard {
  margin-top: 69px;
  position: absolute;
  z-index: -10;
  margin-left: 190px;
  display: flex;
  flex-wrap: wrap;
  width: 1090px;

}

.c {
  background-color: white;
  width: 326px;
  height: 190px;
  margin-right: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: 5px;
  opacity: 0.6;
}

.cc {
  // background-color: #F1F1F1;
  background-color: white;
  width: 245px;
  height: 165px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  // opacity: 0.6;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.01)
}

.otkr {
  width: 266px;
  height: 104px;
  position: absolute;
  color: #3C3C3C;
  padding-top: 15px;
  margin-left: 30px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otkrcard {
  width: 245px;
  height: 165px;
  position: absolute;
  z-index: 100;
}

.redact {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.redactcard {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.editt img{
  z-index: 1;
  height: 15px;
}

.deletee img {
  margin-left: 10px;
  z-index: 1;
  height: 14px;
}

.quest {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  width: 202px;
  margin-left: 18px;
  margin-top: 16px;
  position: absolute;
}

.answ {
  font-size: 13px;
  text-align: left;
  margin-left: 18px;
  position: absolute;
  margin-top: 130px;
  width: 202px;
  bottom: 0;
  margin-bottom: 16px;
}


input {
  outline: none;
  border: none;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 12px;
  color: #3C3C3C;
}

.field {
  margin-top: 65px;
}

.fieldd {
  margin-top: 15px;
  font-size: 12px;
  color: #3C3C3C;
  margin-left: 60px;
}

.newcar {
  position: absolute;
  width: 232px;
  height: 154px;
  font-family: 'Montserrat';
  padding-top: 65px;
  color: #7E7E7E;
  font-size: 12px;
}

.showcard{
  margin-top: 40px;
  margin-left: 546px;

}

.topiccard{
  color: #3C3C3C;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.one_side {
  width: 348px;
  height: 221px;
  color: #3C3C3C;
  line-height: 18px;
  background-color: white;
  font-size: 12px;
  margin-right: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.image_vnutri{
  height: 160px;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,.4);
}

.image_vnutri img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.second_side {
  width: 348px;
  height: 221px;
  color: #3C3C3C;
  line-height: 18px;
  background-color: white;
  font-size: 12px;
  margin-right: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.side_vnutri {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #3C3C3C;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  align-self: center;
}

.side_vnutriniz {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #3C3C3C;
  margin-top: 100px;
  width: 300px;
  text-align: center;
  align-self: center;
}

.cnopca {
  margin-left: 305px;
  height: 34px;
  width: 116px;
  background-color: #3C3C3C;
  border-radius: 5px;
}

.editcard {
  position: absolute;
  font-size: 13px;
  color: white;
  padding-top: 11px;
  padding-left: 11px;
}

.editcardcnop {
  z-index: 10;
  width: 117px;
  height: 34px;
}

.nazadcard {
  position: absolute;
  font-size: 13px;
  color: #3C3C3C;
  margin-top: 1px;
  margin-left: 15px;
}

.cnopcanazad {
  display: flex;
  // flex-direction: row;
  // height: 34px;
  // width: 116px;
  width: 60px;
  width: 20px;
}

.cnop {
  display: flex;

}

.strelca img {
  width: 9px;
  // margin-right: 7px;
}

.strelca {
  width: 60px;
  z-index: 10;
}

.zagolovokk {
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 60px;
  color: #3C3C3C;
  margin-top: 35px;
}

.actions {
  margin-left: 60px;
  margin-top: 15px;
}

.deleteee {
  margin-top: 15px;
  margin-left: 60px;
  font-size: 12px;
  color: #3C3C3C;
}

body.popup {
  overflow: hidden;
}

.close img {
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  margin-left: 372px;
  margin-top: -4px;
}

.fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    background-color: white;
    width: 500px;
    height: 642px;
    border-radius: 5px;
    .showcard {
      margin: 0;
      width: 348px;
      margin-left: 72px;
    }
  }
}



// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
